<div class="category-banners-wrap clearfix">
<div class="category-banners clearfix">
  <div class="half-width pull-left large-banner">
    <a href="{{main_banner_category_url}}" ><img src="{{main_banner}}" alt"{{main_banner_category_name}}" class="img-responsive" /></a>
  </div>
  <div class="half-width pull-left clearfix top">
    <div class="half-width pull-left">
      <a href="{{sub_banner1_category_url}}" ><img src="{{sub_banner1}}" alt"{{sub_banner1_category_name}}" class="img-responsive" /></a>
    </div>
    <div class="half-width pull-left top">
      <a href="{{sub_banner2_category_url}}" ><img src="{{sub_banner2}}" alt"{{sub_banner2_category_name}}" class="img-responsive" /></a>
    </div>
    <div class="half-width pull-left top">
      <a href="{{sub_banner3_category_url}}" ><img src="{{sub_banner3}}" alt"{{sub_banner3_category_name}}" class="img-responsive" /></a>
    </div>
    <div class="half-width pull-left top">
      <a href="{{sub_banner4_category_url}}" ><img src="{{sub_banner4}}" alt"{{sub_banner4_category_name}}" class="img-responsive" /></a>
    </div>
  </div>
  </div>
</div>
